
@import '../../assets/style/scss/mixin.scss';
@import '../../assets/style/scss/variables.scss';

.carousel{
  display: flex;
  align-items: center;
  gap: 17.31px;
}

.paginations {
  margin-top: 26px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  .pagination, .paginationActive {
    background-color: $blue32;
    height: 3px;
  }
  .pagination {
    width: 3px;
    border-radius: 30px;
  }
  .paginationActive{
    width: 33px;
    border-radius: 26px;
  }
}