@font-face {
  font-family: 'Gilroy';
  src: url('../../fonts/Gilroy-Regular.ttf') format(ttf);
}


@font-face {
  font-family: christmas;
  src: url('../../fonts/CrunchTime-Italic.ttf') format(ttf);
}
