$main-color: #0063A9;
$white: #fff;
$black: #000;
$bg-color: #F8FAFF;
$grey72: #727272;
$greyAB: #ABABAB;
$grey80:#808080;
$greyE0:#E0E0E0;
$grey90: #1A1919;
$blue17: #174261;
$blue32: #3286C3;
$blue00: #0062D5;
$green: #82CF6F;
$wh-color: #2CB742;
$red: #FF0000;
$f5-color: #F5F5F5;
$skeleton-color: #ECEDF2;
$color-F0: #F0F9FF;


$opacit20-black-color: rgba(0, 0, 0, 0.20);
$opacit50-white-color: rgba(255, 255, 255, 0.50);

